@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		min-width: 0;
	}

	input,
	textarea {
		@apply w-full bg-transparent border border-lightnavy outline-none placeholder:text-lightnavy/50;

		&:focus {
			@apply ring ring-lightnavy/50;
		}

		&:invalid {
			@apply border-red-500 ring ring-red-500/50;
		}
	}
}

@layer components {
	.action {
		appearance: none;
		padding: 0.5em 1em;
		@apply bg-lightnavy/30;

		&.warn {
			@apply hover:bg-red-600;
		}
	}
}
